* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Amatic SC';
    overflow-x: hidden;
}

header {
    background-color: rgba(0, 0, 0, 0.422);
   
    display: flex;
    width: 100%;
    padding: 8px;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.nav-menu-item {
    list-style-type: none;
    display: inline;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 8px;
}

.nav-link:hover {
    background-color: white;
    color: rgb(139, 138, 138);
}

.section-home {
    background-image: url(../images/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sectio-home-text {
    padding: 100px;
    text-align: center;
    max-width: 500px;
    color: white;
    margin: 0 auto;
}

.section-home-header {
    font-size: 100px;
}

.section-home-button {
    margin-top: 30px;
    padding: 8px 16px;
    font-family: 'Amatic SC';
    font-size: 26px;
    background-color: rgb(0, 0, 0);
}

.section-home-button a:hover,
.section-home-button:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}

.section-home-button a {
    color: white;
    text-decoration: none;
}

.section-home-desc {
    padding: 8px 9px;
    display: inline-block;
    margin: 12px;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

.menu-header, .table-head th {
    font-size: 37px;
    font-weight: bold;
}

.menu-table {
    
    flex-direction: column;
    font-size: 25px;
    background-color: white;
    color: rgb(0, 0, 0);
}



.table-head th {
    padding: 25px;
    min-width:270px;
    border-bottom: 1px solid black
}

.table-head {
    display: flex;

   
}


.menu {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    justify-content: center;
    padding-bottom: 30px;
}

.menu-description {
    font-size: 30px;
    color: rgb(189, 188, 188);
margin-top: 20px;
}


.menu-head{
    font-size: 64px;
    margin-bottom: 64px;
}
.menu-item {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}
.menu-td{
    padding: 30px 0px ;
}

.menu-price {
    align-items: end;
    font-size: 32px;
    color: #fff;
    background-color: #616161;
    border-radius: 4px;
    padding: 0px 8px;
}
.menu-header-span{
    background-color: #616161;
    border-radius: 4px;
    padding: 0px 8px;
}

.table-head :nth-child(2){
    color: #fff;
    background-color: #f44336 ;
}

.table-head :nth-child(1),
.table-head :nth-child(3){
    background-color: black;
    color: white;
}


.table-head :nth-child(1):hover,
.table-head :nth-child(3):hover{
    background-color:  #f44336 ;
    color: white;
}
.about-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    
    color: white;
    padding-bottom: 64px;

 background-color: #8b5f5b;





}
.about{
    position: relative; 
 width: 979px;
  
}

.about-header{
    margin: 10px 0;
    font-size: 38px;
  
    text-align: center;
}

.about-desc,.about-sub{
    font-size: 24px;
  
    
}
.about-sub{
    margin:25px 0px;
}
.about-figure-chef {
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
  
    position: absolute;
left: 87%;
top:11%;

  
}


.about-img-chef{
width: 100%;
height: 100%;
object-fit: cover; 




}

.about-table {
border: none;

}
.about-table tr th{
    padding: 20px 0px ;
    font-size:45px;
    text-align: start;
}

.about-table tr td{
    padding: 30px 300px 20px 0px;
    font-size:25px;
 
}

.map-figure {
    width: 100%;
}

.map-figure img{
    width: 100%;
}

.contact-container{
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 64px 16px;
    background-color: #607d8b;
}
.contact{
    width: 978px;
}

.contact-header{
    font-size: 64px;
    text-align: center;
}

.contact-description{
    font-size: 24px;
}

.contact-span{
    padding: 0px 8px;
    background-color: black;
}

.contact-description-two{
    padding: 36px 0px;
    font-size: 30px;
}

input,.form-button{
    display: block;
    margin-bottom: 20px;
    width: 100%;
     font-family: 'Amatic SC';
     font-size: 20px;
    padding: 16px 8px;
}


footer{ 
    background-color: black;
    color: white;
    font-size: 36px;
    text-align: center;
}

.text{
padding: 48px 0px;
}

.footer-link{
    color:white;
}

.footer-link:hover{
    color: rgb(29, 203, 29);
}